@import "~/.config/rofi/config.base.rasi"

configuration {
    modes:                      "combi";
    combi-modes:                "drun,ssh";
    combi-hide-mode-prefix:     true;
}

entry {
    placeholder:                "";
}
