@import "~/.config/rofi/config.base.rasi"

configuration {
    modi:           "window";
	window-format:  "{w}   {t}";
}

window {
    height: 50%;
}

entry {
    placeholder:    "Search Windows...";
}
